@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.onboarding-bg {
    background-color: #f2ffde; /* Light green background from Figma */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #f2ffde;
}

.onboarding-card {
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 480px;
}

.onboarding-title {
    color: #29AC3D; /* Darker green */
   font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    text-align: left;
}

.input-group {
    text-align: left;
    margin-bottom: 25px;
}

.input-label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    font-weight: 200;
    font-family: "Inter", sans-serif;
    margin-top: 40px;
}

.dob-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 10px;
}

.select-container, .gender-select-wrapper {
    position: relative;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

select {
    width: 100%;
    padding: 12px;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
}

.next-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.2s;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
}

.next-btn:hover {
    background-color: #43A047;
}

.skip-link {
    display: block;
    margin-top: 20px;
    color: #999;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.skip-link:hover {
    color: #666;
}

.error-msg {
    color: #d32f2f;
    margin-top: 10px;
    font-size: 13px;
}