@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.SignUP-container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2ffde;
    padding-top: 50px;
   

}

/* Header */
.signup-heading {
  text-align: center;
  margin-bottom: 0px;
  font-size: 2.5rem;
  color: #29AC3D;
  margin-top: 20px;
}

.text-below{
    
    text-align: center;
    color: #4A5565;
    font-size:16px;

}

.form-container{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 16px;
    width: 27%;
    height: 540px;
    flex-direction: column;
    padding-left: 30px; 
    margin-top: 10px;
    box-shadow: 
        0px 20px 25px 0px rgba(0, 0, 0, 0.1), 
        0px 8px 10px 0px rgba(0, 0, 0, 0.04);
}

.form-textp {
    color:black;
    font-size: 20px;
    font-weight:600;
    margin-top:35px;
    font-family:'Inter', sans-serif;
    text-align:left;
    margin-bottom:0%;   
}

.form-texts {
    color:#4A5565;
    font-size: 12px;
    font-weight: 300px;
    font-family:'Inter', sans-serif;
    text-align:left;

}

.form-fullnames {
    color:#4A5565;
    font-size: 12px;
    font-weight: 500;
    font-family:'Inter', sans-serif;
    text-align:left;
    margin-top: 20px;

    

}

.form-names {
    color:#4A5565;
    font-size: 12px;
    font-weight: 500;
    font-family:'Inter', sans-serif;
    text-align:left;
    margin-top: 15px;
    
    
    

}

.form-error {
    color:#b1b1b1;
    font-size: 10px;
    font-weight: 300px;
    font-family:'Inter', sans-serif;
    text-align:left;
    margin-top: 0px;

}

.form-input {

    width: 93%;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    height: 35px;
    padding-right: 40px; 
}

.form-inputpassword  {

    width: 100%;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    height: 38px;
    padding-right: 40px; 
}

.form-button {

    width: 93%;
    margin-top: 20px;
    margin-bottom: 0px;
    border: 1px;
    border-radius: 7px;
    box-sizing: border-box;
    height: 35px;
    background-color: #29AC3D;
    color: white;
    font-weight: 500;
    font-family:'Inter', sans-serif;
    cursor: pointer;
    
    
}


.form-loginNav {
    color:#29AC3D;
    font-size: 12px;
    font-weight: 500;
    font-family:'Inter', sans-serif;
    text-align:left;
    align-self: center;
    

}

.form-containerSecond{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    width: 27%;
    height: 170px;
    flex-direction: column;
    padding-left: 30px; 
    margin-top: 15px;
    margin-bottom: 30px;
    box-shadow: 
        0px 20px 25px 0px rgba(0, 0, 0, 0.1), 
        0px 8px 10px 0px rgba(0, 0, 0, 0.04);
}

.checkMark {
    color:black;
    font-size: 12px;
    font-weight: 300px;
    font-family:'Inter', sans-serif;
    text-align:left;
    flex-direction: row;
    display: flex;
    gap:5px;
    

}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  font-family: 'Inter', sans-serif;
  
}

.error-text3 {
  color: red;
  font-size: 12px;
  margin-top: 310px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0px;
  position: absolute;
}

.success-text {
  color: green;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.error-text2 {
  color: red;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 0px;
  min-height: 20px;
}


.password-wrapper {
  position: relative;
  width: 93%;
}


.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

.error-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    justify-content:left;
    
}
